@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Saludo"]</h1>
<h2>@ViewBag.HoraActual</h2>
<h3>@ViewBag.Id</h3>
<h3>@ViewBag.Nombre</h3>
<h3>@ViewBag.Apellido</h3>
<h3>@ViewBag.FechaNac</h3>